<h1>PANDAS</h1>

In [1]:
import pandas as pd

<h3>Creating, Reading and Writing Data Frame</h3>

<p>Creating by columns</p>

In [7]:
# Creating a data frame using pandas
# NOTE: Every list must have same length and each key must be different
a = pd.DataFrame({'Heading 1':[1,2,3,4], 'Heading 2':[5,6,7,8], 'Heading 3':[1,2.3,5.8,9], 'Heading 4':[0,0,0,0]})
print(a)

   Heading 1  Heading 2  Heading 3  Heading 4
0          1          5        1.0          0
1          2          6        2.3          0
2          3          7        5.8          0
3          4          8        9.0          0

<p>Creating by rows</p>

In [9]:
# The above data frame can also be created like this..
b = pd.DataFrame([[1,5,1.0,0],[2,6,2.3,0],[3,7,5.8,0],[4,8,9.0,0]],
                 columns=['Heading 1','Heading 2','Heading 3','Heading 4'])
print(b)

   Heading 1  Heading 2  Heading 3  Heading 4
0          1          5        1.0          0
1          2          6        2.3          0
2          3          7        5.8          0
3          4          8        9.0          0

In [10]:
# Using index attribute
a = pd.DataFrame({'Heading 1':[1,2,3,4], 'Heading 2':[5,6,7,8], 'Heading 3':[1,2.3,5.8,9], 'Heading 4':[0,0,0,0]},
                index=['Row 1', 'Row 2', 'Row 3', 'Row 4'])
print(a)

       Heading 1  Heading 2  Heading 3  Heading 4
Row 1          1          5        1.0          0
Row 2          2          6        2.3          0
Row 3          3          7        5.8          0
Row 4          4          8        9.0          0

In [11]:
# Series, it is similar to data frame but doesn't have
# more than one column and
# column heading
b = pd.Series([1,2,3,4], index=['row 1','row 2','row 3','row 4'], name='Example')
print(b)

row 1    1
row 2    2
row 3    3
row 4    4
Name: Example, dtype: int64

In [12]:
# Reading a csv(comma seperated file) file from local machine
data = pd.read_csv('/Users/ayushyadav/DataSets/winemag-data_first150k.csv', index_col=0)
# index_col attribute make the 0th column as index, rather than creating new index
data.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [13]:
print(data.shape) #to see how many entries the data set contains

(150930, 10)

In [14]:
# .describe shows mathematical information regarding data set
data.describe()

              points          price
count  150930.000000  137235.000000
mean       87.888418      33.131482
std         3.222392      36.322536
min        80.000000       4.000000
25%        86.000000      16.000000
50%        88.000000      24.000000
75%        90.000000      40.000000
max       100.000000    2300.000000

In [17]:
# To store a data frame
# data.to_csv('to_write_a_csv_file.csv')